# ignore .env files, but push those in testing folder
/.env**
!/testing/.env** 

# ignore node_modules
node_modules

# ignore build artifacts in dist
/dist

# ignore coverage output
/coverage

# ignore config files, but push those in testing folder
/config
!/testing/config

# ignore testing packed npm modules
simple-app-config-**.tgz