# ignore .env files used for testing
.env
.env.development
.env.testing
.env.staging
.env.production

# ignore node_modules
node_modules

# ignore build artifacts in dist
dist

# ignore coverage output
coverage

# ignore config file used for testing
config

# ignore testing packed npm modules
simple-app-config-**.tgz